form {
  width: 80%;
  margin: 2rem auto;
  padding: 1rem;
}

fieldset {
  border: 1px solid red;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

fieldset legend {
  font-weight: bold;
  padding: 0 1rem;
}

.field {
  margin: 1rem;
}

.field input:not([type="radio"]):not([type="checkbox"]),
textarea,
select {
  border: 1px solid skyblue;
  border-radius: 5px;
  padding: 0.5rem;
  width: 100%;
}

button {
  padding: 0.8rem 2rem;
  background-color: #ccc;
  border: 0;
  border-radius: 0.4rem;
  font-size: 1rem;
}

button[type="submit"] {
  background: blue;
  text: white;
}

button[type="reset"] {
  background-color: black;
  color: white;
}
